@import "galeria";
html {
    font-size: 62.5%;

    body {
        background-color: pink;
        margin: 0 auto;
        height: 100vh;
        width: 100%;

        header {
            background-color: palevioletred;
            height: 8rem;
            width: 100%;
            margin: 1rem auto;

            .text-focus-in {
                color: white;
                text-align: center;
                font-size: 3rem;
                -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
                animation: text-focus-in 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            }

            @-webkit-keyframes text-focus-in {
                0% {
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }

                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }

            @keyframes text-focus-in {
                0% {
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }

                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }

            ul {
                li {
                    font-size: 2rem;

                    .menu {
                        color: white;

                        &:hover {
                            color: gray;
                        }
                    }
                }
            }
        }

        main {
            height: calc(100vh - 16rem);
            width: 100%;
            margin: 1rem auto;
            background-color: rgb(255, 175, 202);
            background-size: contain;
            background-repeat: no-repeat;

        }
    }

    footer {
        height: 8rem;
        width: 100%;
        background-color: palevioletred;
        color: gray;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 800px) {
    
}